/* Глобальные свойства */

/* * {
  outline: 1px solid tomato;
} */

/* :root {
  --logo-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --gallery-item-margin: 30px;
} */

/* body {
  font-family: Roboto, sans-serif;

  color: var(--primary-text-color);
} */

/* Шапка сайта */

/* Герой */

/* Преимущества */

/* Рабочие процессы */

/* Команда */

/* Клиенты */

/* Портфолио - Работы */

/* Подвал сайта */

/* Модальное окно */

/* Форма в модальном окне */
