$logo-color: #2196f3;
$primary-white-color: #ffffff;
$primary-title-color: #ffffff;
$secondary-title-color: #212121;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$accent-color: #2196f3;
$gallery-item-margin: 30px;
